@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<body>
    <div class="text-center">
        <h1 class="display-4">Welcome to the Game Recreation Project</h1>
        <h4>All our games are made to order</h4>
        <h5>We will add additional games as our database grows</h5>
    </div>
</body>
