@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>You want to see the privacy policy? Really?</p>
<div style="height:10000px;"></div>
<h4>Sorry. Don't have one.</h4>
